<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

    <parameter name="uName" value="Chandra"></parameter>
    <parameter name="psswd" value="Password"></parameter>

    <listeners>
        <listener class-name="TestNGListeners.ListenerTest"></listener>
    </listeners>

    <test name="RegressionTest_1">

        <classes>
            <class name="TestNGListeners.TestCases">

            </class>

        </classes>

    </test>

</suite>



